<launch>
    <include file="$(find pimouse_ros)/launch/pimouse.launch" />

    <node pkg="rosbag" name="player" type="play" output="screen" args="/home/ubuntu/bagfiles/face-left.bag" />
    <node pkg="pimouse_vision_control" name="face_to_face" type="face_to_face.py" output="screen" />
    <test test-name="test_face_to_face" pkg="pimouse_vision_control" type="test_face_to_face.py" args="left" />
</launch>
